[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/checkpm_venv/bin/uwsgi -i /srv/CheckPM/API/.config/uwsgi/API.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
